<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>job-festa</title>
	<link rel="stylesheet" href="/job-festa/css/style.css">
	<link rel="stylesheet" href="../css/style.css"><!-- アップロード時に消す -->
</head>
<body>
	<header>
		<h1>JOB - FESTA</h1>
		<p>OICへようこそ！</p>
	</header>
	<div class="side">
		<a href="">トップ</a>
		<a href="">QRコードって何</a>
		<ul>
			<li>読み取り方</li>
			<li>作り方</li>
			<li>活用事例集</li>
		</ul>
	</div>
	<article>
		<h2>創ってみよう</h2>
		<p>→長いURLでもラクラクアクセスできる</p>
		<p>→モバイルサイトへの入口に使える</p>
	</article>
	<footer>
		<p>大阪情報コンピュータ専門学校</p>	
		<p>2018-08-05</p>
	</footer>
</body>

</html>




